<h1 class="heading">
  <a href="" routerLink="/">Diary</a>
</h1>
<nav class="nav">
  <ul class="nav-list">
    <li>
      <a href="" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <i class="material-icons">list</i> List
      </a>
    </li>
    <li>
      <a href="" routerLink="/add" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <i class="material-icons">playlist_add</i> Add
      </a>
    </li>
    <li>
      <a href="" routerLink="/map" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <i class="material-icons">location_on</i> Map
      </a>
    </li>
  </ul>
</nav>